#auth-container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  overflow: auto;
  position: fixed;
  background: #43525A;
  z-index: 1000000000000000000;
}

#auth-row {
  margin: 50px auto auto;
  display: block;
}

#auth-container h3.login-title {
  font-size: 18px;
  margin: 0px;
  padding: 25px;
}